.calendar {
    padding: 0%;
    margin:auto;
    border: 15px dotted #987654;
    border-radius:25px;
    width:60%;
    height:50%;
    background-color: #FFFF00;
}

.month_and_date {
    border-radius:10px;
    background-color: red;
    width:100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#display_month {
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
}

#previous_button ,#next_button {
    font-size: 70px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
}

#previous_button:hover, #next_button:hover{
    background-color: yellow;
    transition: 0.5s;
}

.week_days {
    display: flex;
}

.week_days div {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
}

.current_month_days{
    width: calc(100%/7);
    margin-bottom: 10px;
    text-align: center;
background-color: red;
}

.last_month_days{
    width: calc(100%/7);
    margin-bottom: 10px;
    text-align: center;
background-color: blue;
}
.next_month_days{
    width: calc(100%/7);
    margin-bottom: 10px;
    text-align: center;
background-color: blue;
}


