.review_filter_container{
    background-color: white;
    width: 75%;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 4px 4px rgb(0, 0, 0, .1);
}

.range_filter{ 
    text-align: center;
    width: 90%;
    margin: auto;
    padding-top: 7px;
}

.review_date_filter{
    text-align: center;
    width: 95%;
    margin: auto;
    border-radius: 4px; 
    background-color: rgb(0, 0, 0, .05);
}

.review_filter{
    margin:0px 10px;
    display:inline-block;
    padding: 3px;
}

.review_form_buttons{
    text-align: center;
}

.filter_review, .reset_review{
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.filter_review:hover, .reset_review:hover{
    background-color: rgb(24, 131, 86);;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px rgb(0, 0, 0, .1);
}

body{
    background-color: rgb(255, 234, 202);
}

.review_filter_date{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    background-color:white;
    color: rgb(24, 131, 86);
    transition: 0.5s;
    box-shadow: 3px 3px rgb(0, 0, 0, .1);
    width:231px;
    height: 20px;
}

.review_filter_date:hover{
    background-color: rgb(255, 234, 202);
}

.filter_variations, .filter_visibility{
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    background-color:white;
    color: rgb(24, 131, 86);
    transition: 0.5s;
    box-shadow: 3px 3px rgb(0, 0, 0, .1);
    width: 90px;
}

.filter_variations:focus , .filter_visibility:focus {
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(255, 234, 202);
    transition: 0.5s;
    box-shadow: 4px 4px rgb(0, 0, 0, .1);
}

.filter_variations:hover, .filter_visibility:hover, .review_filter input[type=date]:hover{
    box-shadow: 4px 4px rgb(0, 0, 0, .1);
    cursor: pointer;
}

.review_container{
    width: 85%;
    margin: 15px  auto;
    background-color:white;
    border-radius: 4px;
    box-shadow: 4px 4px rgb(0, 0, 0, .1);
    padding:0px 5px 5px 5px;
}

.review_title{
    text-align: center;
    padding-top: 2px;
}

.user_review{
    border-radius: 4px;
    background-color: rgb(0, 0, 0, .05);
    width: 75%;
    margin: 5px auto;
    border:2px solid rgb(0, 0, 0, .4);
}

.reviewed{
    float: left;
    color: rgb(0, 0, 0, .6);
}

.review_user_name{
    float: left;
    margin-left: 2px;
}

.review_date{
    float: right;
    color: rgb(0, 0, 0, .6);
    margin-right: 2px;
}

.review_comment_fieldset{
    clear: both;
    text-align: center;
    border:1px solid rgb(0, 0, 0, .1);
    border-radius: 4px;
    width: 90%;
    margin: auto;
    margin-top: 25px;
    background-color: rgb(255, 234, 202);
}
.review_comment_legend{
    text-align: left;
}

.all_review_buttons{
    background-color: yellow;
    margin-top: 5px;
    margin-bottom: 2px;
}

.review_buttons{
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    margin:0px 1px;
}

.delete_buttons{
    background-color:red;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    margin:0px 1px;
}
.all_review_buttons a{
    text-decoration: none;
}

.review_buttons:hover, .delete_buttons:hover{
    background-color:rgb(24, 131, 86);
}