.slot_container{
    width: 70%;
    margin: auto;
    padding: 10px;

}

.slot_container input[type=date]{
    font-family: Arial, sans-serif;
    width: 95%;
    padding: 12px 20px;
    margin:10px auto 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 234, 202);
    color: rgb(24, 131, 86);
    transition: 0.5s;
}

.slot_container input[type=date]:hover{
    background-color: rgb(24, 131, 86);
    color: white;
    transition: 0.5s;
}

.slot_container label, .slot_container legend{
    font-family: Arial, sans-serif;
    font-weight: 500;
    color: rgb(24, 131, 86);
    display: block;
    text-align: center;
}

.filter_slot{
    width: 95%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    margin:20px auto 20px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    transition: 0.1s;
    
}
.filter_slot:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgba(0, 0, 0, .2);
    transform: translateY(4px);
    transition: 0.1s;
    transform: scale(1);
}

.filter_slot:hover {
    transform: scale(1.01);
    transition: 0.1s;
}

.slot_fieldset{
    margin: 1%;
    padding: 3% 1% 3% 1%;
    border-radius: 5px;
    border-color: grey;
}

.result{
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: 500;
    border:solid grey;
    border-radius: 4px;
}

.slot_table{
    width: 500px;
    display: block;
    background-color:rgb(255, 234, 202);;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 1px auto 1px auto;
    text-align: center;
    transition:0.2s;
}

.appointment_table{
    width: 680px;
    display: table;
    background-color:rgb(255, 234, 202);;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 1px auto 1px auto;
    text-align: center;
    transition:0.2s;
}

.slot_table th, .appointment_table th{
    background-color: grey;
    color: white;
}
.slot_table td, .slot_table th, .appointment_table td, .appointment_table th{
    border: 1px solid rgb(87, 201, 163);
    padding: 8px;
  }

.slot_table tr:nth-child(even), .appointment_table tr:nth-child(even){
    background-color:rgb(250, 230, 190);
}

.slot_table tr:hover, .appointment_table tr:hover{
    background-color: #ddd;
    transition: 0.2s;
}

.booking_buttons{
    text-decoration: none;
    background-color: rgb(255, 234, 202);
    padding: 5px;
    border-radius: 3px;
    color:purple;
    transition: 0.2s;
}
.booking_buttons:hover{
    color:rgb(24, 131, 86);
    transition: 0.2s;
    box-shadow: 5px rgba(0, 0, 0, .2);
}


.slot_container input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    display: block;
    width: 25px;
    height: 25px;
}