.calendar {
    padding: 0.5%;
    margin:auto;
    border: none;
    border-radius:4px;
    width:50%;
    background-color: rgb(255, 234, 202);
    min-width: 450px;
}

.month_and_date {
    border-radius:10px;
    background-color: rgb(255, 234, 202);
    width:100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#display_month {
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
    color: black; 
    text-shadow:2px 2px  rgb(128,128,128);
}

#previous_button ,#next_button {
    font-size: 70px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
    transition: 0.6s;
}

#previous_button:hover, #next_button:hover{
    color: rgb(24, 131, 86);
    transition: 0.6s;
    text-shadow:2px 2px  rgb(128,128,128);
}

#today_button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 10px;
    transition: 0.7s;
}

#today_button:hover{
    color: rgb(24, 131, 86);
    transition: 0.6s;
    text-decoration: underline rgb(24, 131, 86);
}

.week_days {
    display: flex;
    background-color: rgb(24, 131, 86);
    border-radius:4px ;
    width: 100%;
    
}

.week_days div {
    width: 98.6%;
    margin: 0.1%;
    text-align: center;
}

.days_container{
    width: 100%;
    margin-top: 0.5%;
}

#days {
   display: flex;
    flex-wrap: wrap;
    width:100%;
    align-items: center;
}

.current_month_days,.today,.last_month_days,.next_month_days{
    width: calc(98.6%/7);
    margin:0.1%;
    padding-top:1%;
    padding-bottom: 1%;
    text-align: center;
    border-radius: 4px;
}

.last_month_days,.next_month_days{
    color: rgb(128,128,128);

}

.current_month_days:hover,.today:hover,.last_month_days:hover,.next_month_days:hover{
transition: 0.6s;
background-color: rgb(87, 201, 163);
transform: scale(1.1);
color: rgb(255,255,255);
}

.today{
    color: rgb(87, 201, 163);
    background-color: rgb(24, 131, 86);
}

.bg_yellow_1 {
    width: calc(98.6%/7);
    margin:0.1%;
    padding-top:1%;
    padding-bottom: 1%;
    text-align: center;
    border-radius: 4px;
    color: red;
    background-color: rgb(255,255,102);
    transition:0.2s ;
  }

.bg_yellow_2 {
    width: calc(98.6%/7);
    margin:0.1%;
    padding-top:1%;
    padding-bottom: 1%;
    text-align: center;
    border-radius: 4px;
    color: red;
    background-color: rgb(255,255,101);
    transition:0.2s ;
}

.bg_yellow_3 {
    width: calc(98.6%/7);
    margin:0.1%;
    padding-top:1%;
    padding-bottom: 1%;
    text-align: center;
    border-radius: 4px;
    color: red;
    background-color: rgb(255,255,100);
    transition:0.2s ;
}

.appointment_made{
    color:red;
}

.appointment_table{
    color:green;
    border: 1px solid;
}